@model List<Pharmacy.Models.Products.ProductModel>
@{
    ViewBag.Title = "Products";
    var containsQuery = Context.Request.Query.ContainsKey("Query");
    var Queries = Context.Request.Query;
    string strQuery = Queries["Query"].ToString();
    string queryStr = containsQuery ? strQuery : string.Empty;
    var containsOnlyExistence = Context.Request.Query.ContainsKey("OnlyExistence");
    string onlyExistenceStr = Queries["OnlyExistence"].ToString();
    string strOnlyExistence = containsOnlyExistence ? onlyExistenceStr : "False";
}

<h2>@ViewData["Title"] (@Model.Count) items</h2>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group" style="margin:4px 10px;">
                    <div class="checkbox">
                        <label for="OnlyExistence">
                            <input class="form-control" name="OnlyExistence" id="OnlyExistence" type="checkbox" value="@strOnlyExistence" @(strOnlyExistence.Equals("True") ? "checked" : "") />
                            Only Existence
                        </label>
                    </div>
                </div>
                <div class="form-group" style="margin:4px 10px;">
                    <input name="Query" id="Query" type="text" class="form-control" placeholder="Search" value="@queryStr">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        Medicine Name
                    </th>
                    <th>
                        Company Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Create Date
                    </th>
                    <th>
                        Expire Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr @(item.Quantity <= 0 ? "class=not-exist-item" : "")>
                            <td>@item.Medicine</td>
                            <td>@item.Company</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@item.CreateDate.ToShortDateString()</td>
                            <td>@item.ExpireDate.ToShortDateString()</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">No Medicine already exist.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}